.dotColor0 {
  background-color: rgba(253, 38, 108, 0.82);
}

.dotColor1 {
  background-color: rgba(250, 193, 117, 0.88);
}

.dotColor2 {
  background-color: rgba(72, 213, 151, 0.86);
}

.dotColor3 {
  background-color: rgba(92, 147, 255, 0.86);
}

.dotColor4 {
  background-color: rgba(180, 128, 255, 0.86);
}

.dotColor5 {
  background-color: rgba(255, 133, 133, 0.86);
}

.dotColor6 {
  background-color: rgba(148, 163, 184, 0.9);
}
